[user]
	name = Sunil Unnithan
	email = sunilunnithan@gmail.com
	username = sunilunnithan
[core]
	editor = nvim
	whitespace = fix,-indent-with-non-tab,trailing-space,cr-at-eol
	pager = delta
[pager]
	diff = diffnav
[web]
	browser = google-chrome
[rerere]
	enabled = 1
	autoupdate = 1
[push]
	default = simple
[color]
	ui = auto
[color "branch"]
	current = yellow bold
	local = green bold
	remote = cyan bold
[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red bold
	new = green bold
	whitespace = red reverse
[color "status"]
	added = green bold
	changed = yellow bold
	untracked = red bold
[diff]
	tool = vimdiff
[difftool]
	prompt = false
[delta]
	features = line-numbers decorations
	line-numbers = true
[delta "decorations"]
	minus-style = red bold normal
	plus-style = green bold normal
	minus-emph-style = white bold red
	minus-non-emph-style = red bold normal
	plus-emph-style = white bold green
	plus-non-emph-style = green bold normal
	file-style = yellow bold none
	file-decoration-style = yellow box
	hunk-header-style = magenta bold
	hunk-header-decoration-style = magenta box
	minus-empty-line-marker-style = normal normal
	plus-empty-line-marker-style = normal normal
	line-numbers-right-format = "{np:^4}│ "
[github]
	user = sunilunnithan
[sequence]
	editor = interactive-rebase-tool
[alias]
	a = add --all
	ai = add -i
	#############
	b = branch
	ba = branch -a
	bd = branch -d
	bc = rev-parse --abbrev-ref HEAD
	bu = !git rev-parse --abbrev-ref --symbolic-full-name "@{u}"
	#############
	c = commit
	ca = commit -a
	cm = commit -m
	cam = commit -am
	cd = commit --amend
	#############
	cl = clone
	cld = clone --depth 1
	#############
	cp = cherry-pick
	cpa = cherry-pick --abort
	cpc = cherry-pick --continue
	#############
	d = diff
	dc = diff --cached
	#############
	f = fetch
	fo = fetch origin
	#############
	l = log --oneline
	lg = log --oneline --graph --decorate
	#############
	m = merge
	ma = merge --abort
	mc = merge --continue
	#############
	o = checkout
	ob = checkout -b
	#############
	ps = push
	psf = push -f
	psu = push -u
	#############
	pl = pull
	pb = pull --rebase
	#############
	rb = rebase
	rba = rebase --abort
	rbc = rebase --continue
	rbi = rebase --interactive
	#############
	re = reset
	reh = reset --hard
	#############
	r = remote
	rv = remote -v
	rp = remote prune
	#############
	s = status
	sb = status -s -b
	#############
	sl = stash list
	sp = stash pop
	ss = stash save
	#############
	t = tag
	#############
	w = show
	#############
	subup = submodule update --init --recursive
	#############
	assume = update-index --assume-unchanged
	unassume = update-index --no-assume-unchanged
[credential]
	helper = 
	helper = /usr/local/share/gcm-core/git-credential-manager
[credential "https://dev.azure.com"]
	useHttpPath = true
[init]
	defaultBranch = main
